/* base settings */
html,
body {
  padding: 0;
  margin: 0;
  background-color: #282828;

  * {
    color: #ffffff;
  }

  .krona-one-regular {
    font-family: "Krona One", serif;
    font-weight: 400;
    font-style: normal;
  }

  .sawarabi-gothic-regular {
    font-family: "Sawarabi Gothic", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* header */
  .blog-header {
    padding: 30px 0 30px 0;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);

    .blog-title {
      padding: 0;
      margin: 0 0 0 30px;
      font-size: 1em;
      text-align: left;
      text-decoration: none;
    }
  }

  /* footer */
  footer {
    margin: auto 0 0 0;
    padding: 0;
    background-color: #141414;
    height: 150px;

    .credit {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-size: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

//* Ultra-Coins Blog list *//
.blog-list-page-section {
}

//* Ultra-Coins Blog *//
.blog-page-section {
  padding: 0;
  margin: 0;
  background-color: #282828;

  .blog-content {
    pre {
      padding: 15px;
      border-radius: 7.5px;
    }
    display: flex;
    width: 100%;
    max-width: 1160px;
    margin: 30px auto 0 auto;

    .toc-box {
      margin: 150px 20px 0 50px;
      padding: 10px 0 10px 0;
      border-radius: 10px;
      width: 300px;
      height: 400px;
      background-color: #454545;
      overflow-y: scroll;
      overflow-x: visible;
      position: sticky;
      top: 20px;
    }

    .blog-container {
      flex: 1;
      padding: 0 20px 20px 20px;
      background-color: #454545;
    }

    .blog-config {
      font-family: "Sawarabi Gothic", serif;

      h1 {
        font-size: 2.5em;
        font-weight: 400;
      }

      h2 {
        font-size: 2em;
        font-weight: 400;
      }

      h3 {
        font-size: 1.8em;
        font-weight: 400;
      }

      h4 {
        font-size: 1.6em;
        font-weight: 400;
      }

      h5 {
        font-size: 1.3em;
        font-weight: 400;
      }

      h6 {
        font-size: 1.1em;
        font-weight: 400;
      }

      p {
        font-size: 1.1em;
        font-weight: 400;
      }

      blockquote {
        background-color: #3d3d3d;
        margin: 0;
        padding: 5px 10px;
        border-left: #595959 5px solid;

        * {
          margin: 0;
          padding: 0;
          color: #ececec;
        }
      }
    }

    .blog-title {
      text-align: center;
    }

    .blog-meta {
      text-align: center;

      span {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

  /* mobile */
  @media screen and (max-width: 1010px) {
    .toc-box {
      display: none;
    }
    .blog-container {
      margin: 0;
    }
  }

  /* PC */
  @media screen and (min-width: 1011px) {
    .blog-container {
      max-width: 760px;
      margin: 0 0 130px 20px;
      border-radius: 10px;
    }
  }
}

//* 404 Page *//
.error-page-section {
  height: 100lvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .statuscode {
    font-size: 7em;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .status-message {
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
    padding: 0;
  }

  .error-page-a {
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
    padding: 0;
  }
}

//* Shortcodes *//
.alert-type {
  border-radius: 10px;
  padding: 10px;
  margin: 30px 0;
}

.alert-type-label {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.note {
  background-color: #0a68da80;
}

.tip {
  background-color: #187f3280;
}

.important {
  background-color: #7f4edf80;
}

.warning {
  background-color: #98650180;
}

.caution {
  background-color: #d0212b80;
}

.img-box {
  width: fit-content;
  margin: 0 auto;
}

.caption {
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 0.8em;
  text-align: center;
  color: #d0d0d0;
}
