* {
  color: #ffffff;
}

.krona-one-regular {
  font-family: "Krona One", serif;
  font-weight: 400;
  font-style: normal;
}

.klee-one-regular {
  font-family: "Klee One", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
section {
  padding: 0;
  margin: 0;
  background-color: #282828;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

.section {
  width: 100%;
}

.container {
  max-width: 1024px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.title {
  font-size: 2.5em;
  text-align: center;
  margin: 180px 0 50px 0;
}

.content {
  font-size: 1.2em;
  text-align: left;
}

/* Ultra Coins Blog css */
.blog-config {
  font-family: "Klee One", serif;
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.6em;
  }
  h5 {
    font-size: 1.3em;
  }
  h6 {
    font-size: 1.1em;
  }
  p {
    font-size: 1.1em;
  }
}
.blog-title {
  text-align: center;
}
.blog-meta {
  text-align: center;
  span {
    display: inline-block;
    margin: 0 10px;
  }
}

/* shortcodes */
.alert-type {
  border-radius: 10px;
  padding: 10px;
  margin: 30px 0;
}
.alert-type-label {
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}
.note {
  background-color: #0a68da80;
}
.tip {
  background-color: #187f3280;
}
.important {
  background-color: #7f4edf80;
}
.warning {
  background-color: #98650180;
}
.caution {
  background-color: #d0212b80;
}

/* Ultra Coins Site css */
/* first view */
.first-view {
  height: 100lvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .first-view-title {
    text-align: center;
    font-size: 3.5em;
  }
  .first-view-sub-title {
    font-size: 1em;
  }
}

/* What is Ultra Coins */
/* mobile */
@media screen and (max-width: 990px) {
  .mobile-box {
    max-width: 100%;
    .img-box {
      width: 350px;
      margin: 0 auto;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .pc-box {
    display: none;
  }
}
/* PC */
@media screen and (min-width: 989px) {
  .pc-box {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 30px;
    p {
      min-width: 350px;
      width: 60%;
    }
    .img-box {
      width: 350px;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .mobile-box {
    display: none;
  }
}

/* News */
#news {
  display: block;
  padding-top: 70px;
  margin: 110px 0 50px 0;
}
.post-ul {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  .post-li {
    list-style: none;
    padding: 30px 10px 10px 10px;
    display: block;
    .post-a {
      display: flex;
      flex-direction: row;
      border-bottom: #ffffff 1px solid;
    }
    .post-date {
      margin: 0 20px;
      font-size: 1.5em;
      display: inline-block;
    }
    .post-title {
      margin: 0 10px;
      font-size: 2em;
      display: inline-block;
    }
  }
}

/*How to Join Ultra Coins*/
.join-box {
  max-width: 780px;
  margin: 0 auto;
  .join-number {
    margin: 0 10px;
    font-size: 2em;
  }
  .join-content {
    margin: 0 10px;
    font-size: 1.8em;
  }
}

/* footer */
.space {
  width: 100%;
  height: 300px;
}
footer {
  margin: auto 0 0 0;
  padding: 0;
  background-color: #141414;
  height: 150px;
  .credit {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
