<h1 class="title sawarabi-gothic-regular">Ultra-Coinsとは</h1>
<!--PC-->
<div class="pc-box">
  <p class="content sawarabi-gothic-regular">
    Ultra-Coinsとは、情報科学類生とOB・OG向けの超正統派コンピューティング人材育成環境です。
  </p>
  <div class="img-box">
    <img src="/ultra-coins.webp" alt="Ultra Coins" />
  </div>
</div>
<!--mobile-->
<div class="mobile-box">
  <div class="img-box">
    <img src="/ultra-coins.webp" alt="Ultra Coins" />
  </div>
  <p class="content sawarabi-gothic-regular">
    Ultra-Coinsとは、情報科学類生とOB・OG向けの超正統派コンピューティング人材育成環境です。
  </p>
</div>

<style>
  .title {
    font-size: 2.5em;
    text-align: center;
    margin: 180px 0 50px 0;
  }

  .content {
    font-size: 1.2em;
    text-align: left;
  }

  /* mobile */
  @media screen and (max-width: 990px) {
    .mobile-box {
      max-width: 100%;
    }

    .img-box {
      width: 350px;
      margin: 0 auto;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .pc-box {
      display: none;
    }
  }

  /* PC */
  @media screen and (min-width: 989px) {
    .pc-box {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap-reverse;
      gap: 30px;
    }

    p {
      min-width: 350px;
      width: 60%;
    }

    .img-box {
      width: 350px;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .mobile-box {
      display: none;
    }
  }
</style>
