<div class="first-view">
  <div class="light-cable-left">
    <img src="/light-cable.svg" alt="light cable" />
  </div>
  <div class="light-cable-right">
    <img src="/light-cable.svg" alt="light cable" />
  </div>
  <div class="krona-one-regular">
    <h1 class="first-view-title">Ultra-Coins</h1>
    <h3 class="first-view-sub-title">Connect the world through networks...</h3>
  </div>
</div>

<style>
  /* first view */
  .first-view {
    position: relative;
    height: 100lvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first-view-title {
    text-align: center;
    position: relative;
    background-color: rgba(40, 40, 40, 0.6);
    padding: 10px 0 10px 0;
  }

  .first-view-sub-title {
    position: relative;
    background-color: rgba(40, 40, 40, 0.6);
    padding: 10px 0 10px 0;
  }

  .light-cable-left {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotateX(180deg) rotateZ(200deg);
    margin: 0 0 -100px -50px;
  }

  .light-cable-right {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotateX(0deg) rotateZ(320deg);
    margin: -50px -100px 0 0;
  }

  /* nano */
  @media screen and (max-width: 349px) {
    .first-view-title {
      font-size: 2.39em;
    }

    .first-view-sub-title {
      font-size: 0.8em;
    }
  }

  /* small */
  @media screen and (max-width: 399px) and (min-width: 350px) {
    .first-view-title {
      font-size: 2.6em;
    }

    .first-view-sub-title {
      font-size: 0.8em;
    }
  }

  /* middle */
  @media screen and (max-width: 455px) and (min-width: 400px) {
    .first-view-title {
      font-size: 3em;
    }

    .first-view-sub-title {
      font-size: 0.8em;
    }
  }

  /* PC */
  @media screen and (min-width: 454px) {
    .first-view-title {
      font-size: 3.5em;
    }

    .first-view-sub-title {
      font-size: 1em;
    }
  }
</style>
