#loading {
  transition: all 0.8s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100lvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #282828;

  .loading-text {
    text-align: center;
    position: relative;
    padding: 10px 0 10px 0;
    font-size: 20px;
  }
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
