{% extends "base.html" %} {% block content %}
<section class="section">
<!--header-->
<header class="blog-header">
  <a href="/" class="krona-one-regular blog-title">Ultra Coins</a>
</header>
<!--header-->
<div class="blog-content">
  <!--main content-->
  <div class="blog-container blog-config">
    <h1 class="blog-title">{{ page.title }}</h1>
    <p class="blog-meta">
      <span>公開日: {{ page.date }}</span>
      <span
        >作成者: {%for author in page.authors %} {% if loop.last %}{{ author }}{%
        else %}{{ author }},&ensp;{% endif %} {% endfor %}</span
      >
    </p>
    <p><a href="/#news">Newsに戻る</a></p>
    {{ page.content | safe }}
  </div>
  <!--main content-->
  <!--table of contents-->
  <div class="toc-box">
    {% if page.toc %}
    <ul>
      {% for h1 in page.toc %}
        <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
                <li>
                  <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                  {% if h2.children %}
                    <ul>
                      {% for h3 in h2.children %}
                        <li>
                          <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  </div>
  <!--table of contents-->
</div>
</section>
{% endblock content %}
