{% extends "base.html" %} {% block content %}
<header class="blog-header">
  <a href="/" class="krona-one-regular blog-title">Ultra Coins</a>
</header>
<div class="container blog-config">
  <h1 class="blog-title">{{ page.title }}</h1>
  <p class="blog-meta">
    <span>公開日: {{ page.date }}</span>
    <span
      >作成者: {%for author in page.authors %} {% if loop.last %}{{ author }}{%
      else %}{{ author }},&ensp;{% endif %} {% endfor %}</span
    >
  </p>
  <p><a href="/#news">Newsに戻る</a></p>
  {{ page.content | safe }}
</div>
{% endblock content %}
