{% extends "base.html" %} {% block content %}
<section class="blog-list-page-section">
  <ul class="post-ul">
    {%for page in section.pages %} {% if loop.index < 5 %}
    <li class="post-li">
      <a class="post-a" href="{{ page.permalink | safe}}">
        <p class="sawarabi-gothic-regular">
          <span class="post-date">{{ page.date }}</span
          ><span class="post-title">{{ page.title }}</span>
        </p>
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>
</section>
{% endblock content %}
