<h1 class="title sawarabi-gothic-regular">入室方法</h1>
<div class="join-box">
  <p class="sawarabi-gothic-regular">
    <span class="join-number">1.</span>
    <span class="join-content">こんにちはこんにちはこんにちは</span>
  </p>
  <p class="sawarabi-gothic-regular">
    <span class="join-number">2.</span>
    <span class="join-content">こんにちはこんにちはこんにちは</span>
  </p>
  <p class="sawarabi-gothic-regular">
    <span class="join-number">3.</span>
    <span class="join-content">こんにちはこんにちはこんにちは</span>
  </p>
  <p class="sawarabi-gothic-regular">
    <span class="join-number">4.</span>
    <span class="join-content">こんにちはこんにちはこんにちは</span>
  </p>
</div>

<style>
  .title {
    font-size: 2.5em;
    text-align: center;
    margin: 180px 0 50px 0;
  }

  .join-box {
    max-width: 780px;
    margin: 0 auto;
  }

  .join-number {
    margin: 0 10px;
    font-size: 1.5em;
  }

  .join-content {
    margin: 0 10px;
    font-size: 1.5em;
  }
</style>
