<h1 class="title sawarabi-gothic-regular">入室方法</h1>
<div class="join-box">
  <p class="sawarabi-gothic-regular">
    <span class="join-number">1.</span>
    <span class="join-content">毎週行われる学生会議を見学する。</span>
  </p>
  <p>
    3D棟212室で、毎週水曜日18:30~から約1時間程学生会議をしています。学生会議の間、Ultra-Coinsの見学をすることが可能です。
  </p>
  <p class="sawarabi-gothic-regular">
    <span class="join-number">2.</span>
    <span class="join-content">ultra@coins.tsukuba.ac.jp に入室希望のメールを送る。</span>
  </p>
  <p>
    Ultra-Coinsに興味を持っていただいた方は、ultra@coins.tsukuba.ac.jpに入室の旨を書いたメールをお送りください。その後の手続きは、メールの返信でお伝えいたします。
  </p>
</div>

<style>
  .title {
    font-size: 2.5em;
    text-align: center;
    margin: 180px 0 50px 0;
  }

  .join-box {
    max-width: 780px;
    margin: 0 auto;
  }

  .join-number {
    margin: 0 10px;
    font-size: 1.5em;
  }

  .join-content {
    margin: 0 10px;
    font-size: 1.5em;
  }
</style>
