<h1 class="title sawarabi-gothic-regular">ブログサイトリンク</h1>
<a href="/" class="button krona-one-regular">Ultra-Coins Blog >></a>

<style>
  .title {
    font-size: 2.5em;
    text-align: center;
    margin: 180px 0 50px 0;
  }

  .button {
    width: 320px;
    height: 70px;
    font-size: 1.1em;
    display: flex;
    text-decoration: underline 1px;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    margin: 0 auto;
    border: 2px solid;
    border-image: linear-gradient(to right, #e7b42b 0, #e76649 100%);
    border-image-slice: 1;
  }
</style>
