<!doctype html>
<html lang="ja">
  <head>
    <!-- meta settings start -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="description" content="Ultra-Coinsのウェブサイトです。" />
    <meta name="keyword" content="Ultra-Coins, coins, ウルトラコインズ, 筑波大学, 情報情報科学類" />
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/ultra-coins/ultra-coins-website/main/public/favicon.ico"
    />
    <meta name="theme-color" content="rgb(15.29, 15.29, 15.29)" />
    <!-- meta settings end -->
    <!-- Twitter card settings start -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@yuki_osada0808" />
    <meta name="twitter:creator" content="@yuki_osada0808" />
    <meta name="twitter:title" content="Ultra-Coins" />
    <meta name="twitter:description" content="Ultra-Coinsのウェブサイトです。" />
    <meta
      name="twitter:image"
      content="https://raw.githubusercontent.com/ultra-coins/ultra-coins-website/main/public/og-image.png"
    />
    <meta name="twitter:image:alt" content="Ultra-Coinsのウェブサイト ファーストビュー" />
    <!-- Twitter card settings end -->
    <!-- Google fonts start -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Krona+One&family=Sawarabi+Gothic&display=swap"
      rel="stylesheet"
    />
    <!-- Google fonts end -->
    <!-- OG setting start -->
    <meta property="og:site_name" content="Ultra-Coins" />
    <meta property="og:description" content="Ultra-Coinsのウェブサイトです。" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/ultra-coins/ultra-coins-website/main/public/og-image.png"
    />
    <meta property="og:image:width" content="900" />
    <meta property="og:image:height" content="506" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ultra.coins.tsukuba.ac.jp/" />
    <!-- OG setting end -->
    <title>Ultra-Coins</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    padding: 0;
    margin: 0;
    background-color: #282828;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
  }

  * {
    color: #ffffff;
  }

  .krona-one-regular {
    font-family: 'Krona One', serif;
    font-weight: 400;
    font-style: normal;
  }

  .sawarabi-gothic-regular {
    font-family: 'Sawarabi Gothic', serif;
    font-weight: 400;
    font-style: normal;
  }
</style>
